{{page-title 'args examples'}}
<h2><code>args</code> example</h2>

<form>
  <label>
    Current value
    <input
      type='text'
      value={{this.currentValue}}
      {{on "input" (pick "target.value" this.updateValue)}}>
  </label>
</form>

<select {{on "input" (pick "target.value" this.selectOption)}}>
  {{#each this.options as |opt|}}
    <option value={{opt}} selected={{eq opt this.selected}}>{{opt}}</option>
  {{/each}}
</select>

{{#if (eq this.selected 'classic')}}
  <ArgsExample::Classic @value={{this.currentValue}} />
{{else if (eq this.selected 'Octane (broken)')}}
  <ArgsExample::OctaneBroken @value={{this.currentValue}} />
{{else if (eq this.selected 'Octane (getter)')}}
  <ArgsExample::OctaneGetter @value={{this.currentValue}} />
{{else if (eq this.selected 'Octane (localCopy)')}}
  <ArgsExample::OctaneLocalCopy
    @value={{this.currentValue}}
    @onPersist={{this.updateValue}}
  />
{{/if}}